@model FootballOdds.Models.ContactMessage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact Us</h2>
<form action="/contact" method="post">
    <div>
        @Html.ValidationSummary();
    </div>
    <input type="text" value="" name="CustomerName"/>
    <input type="email" value="" name="CustomerEmail" />
    <input type="text" value="" name="CustomerMessage" />
    <input type="submit" value="send"/>
</form>